@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/infinite-beyond");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inria Sans", sans-serif;
  background-color: #fff;
}

.headline {
  background: linear-gradient(90deg, rgb(177, 71, 165) 0%, rgb(0, 125, 254) 70%);
  font-size: 50px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.self-active {
  color: #ff00f2 !important;
}

/* header */
nav {
  background-color: #4A29D0;
  font-family: "Infinite Beyond", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  position: fixed !important;
  z-index: 999;
  width: 100%;
}
nav .nav-link {
  color: #fff;
  margin-top: -7px;
}
nav .nav-link:hover {
  color: #ff00f2;
}
nav .navbar-brand {
  color: #fff;
  font-size: 12px;
}
nav .navbar-brand:hover {
  color: #ff00f2;
}
@media (max-width: 400px) {
  nav .navbar-brand {
    font-size: 12px;
  }
}
nav .navbar-brand img {
  width: 50px;
  height: 40px;
}
@media (max-width: 400px) {
  nav .navbar-brand img {
    width: 40px;
    height: 30px;
  }
}
nav .navbar-toggler {
  color: #fff;
  background-color: #fff;
}
nav ul li .nav-link {
  cursor: pointer !important;
  color: #fff;
}
nav ul li .nav-link .active-flag {
  opacity: 100%;
}
nav ul li .nav-link img:first-of-type {
  width: 20px;
  height: 20px;
}
nav ul li .nav-link img:last-of-type {
  margin-left: -10px;
  width: 20px;
  height: 20px;
  opacity: 70%;
}
nav ul li .nav-link:hover {
  color: #ff00f2;
}
nav ul li .contact {
  color: #4A29D0;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 10px;
}
@media (max-width: 992px) {
  nav ul li .contact {
    width: 150px;
    padding: 5px;
    display: inline-block;
    margin-top: 5px;
    text-align: center;
  }
}

/* end header */
/* start hero */
.hero {
  position: relative;
  top: 80px;
}
.hero:before {
  content: "";
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: 80vh;
  background-color: #fbfbfb;
  z-index: -1;
  transform: skewY(-2deg);
  transform-origin: top left;
}
@media (max-width: 991px) {
  .hero {
    top: 40px;
  }
  .hero:before {
    height: 300px;
    top: 50px;
  }
}
.hero .container-xl .content {
  text-align: center;
  width: 100%;
}
@media (max-width: 991px) {
  .hero .container-xl .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
    top: 50px;
    margin-top: 30px;
  }
}
.hero .container-xl .content h1 {
  font-size: 60px;
  margin-top: 35px;
}
.hero .container-xl .content h1 span {
  background: linear-gradient(90deg, rgb(177, 71, 165) 0%, rgb(0, 125, 254) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  display: inline-block;
}
@media (max-width: 991px) {
  .hero .container-xl .content h1 {
    font-size: 40px;
    margin-top: 20px;
  }
}
.hero .container-xl .content p {
  font-size: 15px;
  color: #231942;
}
@media (max-width: 991px) {
  .hero .container-xl .content p {
    font-size: 10px;
    width: 100%;
  }
}
.hero .container-xl .image {
  margin-top: 80px;
  margin-left: 100px;
}
@media (max-width: 991px) {
  .hero .container-xl .image {
    display: none;
  }
}
.hero .container-xl .image img {
  max-width: 100%;
  position: relative;
  animation: up-and-down 5s linear infinite;
}

/* end hero */
/* start services */
.services {
  padding: 10px;
  margin-top: 350px;
  text-align: center;
  /* ads */
  /* email */
  /* Ai */
  /* editing */
}
@media (max-width: 576px) {
  .services {
    margin-top: 250px;
  }
}
.services h1 {
  margin-bottom: 80px;
}
.services .image img {
  width: 250px;
  height: 250px;
}
.services .ads {
  min-height: 300px;
  margin-right: 5px;
}
.services .ads h2 {
  text-align: center;
  color: #8C96E0 !important;
}
@media (max-width: 576px) {
  .services .ads {
    min-width: 100%;
    text-align: center;
    margin: auto;
  }
}
.services .ads p {
  display: none;
  color: #fff;
}
.services .ads h2 {
  text-align: center;
  color: #8C96E0;
}
.services .ads:hover {
  color: #fff;
  background-color: #007DFE;
}
@media (max-width: 576px) {
  .services .ads:hover {
    height: 250px;
    width: 200px;
  }
}
.services .ads:hover p {
  display: block;
}
.services .ads:hover .image img {
  display: none;
}
.services .ads:hover h2 {
  display: none;
}
.services .email {
  max-width: 570px;
  min-height: 300px;
  margin-right: 5px;
}
.services .email h2 {
  text-align: center;
  color: #00DFC0 !important;
}
@media (max-width: 576px) {
  .services .email {
    max-width: 95%;
    text-align: center;
    margin: 10px auto;
  }
}
.services .email p {
  display: none;
  color: #fff;
}
.services .email h2 {
  text-align: center;
  color: #00DFC0;
}
.services .email:hover {
  color: #fff;
  background-color: #007DFE;
}
@media (max-width: 576px) {
  .services .email:hover {
    height: 250px;
    width: 200px;
  }
}
.services .email:hover p {
  display: block;
}
.services .email:hover .image img {
  display: none;
}
.services .email:hover h2 {
  display: none;
}
.services .ai {
  min-height: 300px;
}
.services .ai h2 {
  text-align: center;
  color: #8558F8 !important;
}
@media (max-width: 576px) {
  .services .ai {
    min-width: 100%;
    text-align: center;
    margin: auto;
  }
}
.services .ai p {
  display: none;
  color: #fff;
}
.services .ai h2 {
  text-align: center;
  color: #8C96E0;
}
.services .ai:hover {
  color: #fff;
  background-color: #007DFE;
}
@media (max-width: 576px) {
  .services .ai:hover {
    height: 250px;
    width: 200px;
  }
}
.services .ai:hover p {
  display: block;
}
.services .ai:hover .image img {
  display: none;
}
.services .ai:hover h2 {
  display: none;
}
.services .editing {
  min-height: 300px;
  margin-right: 5px;
  margin-top: 30px;
}
.services .editing .image img {
  width: 200px;
  height: 200px;
}
.services .editing h2 {
  text-align: center;
  color: #D268CC !important;
  margin-top: 30px;
}
@media (max-width: 576px) {
  .services .editing {
    min-width: 100%;
    text-align: center;
    max-width: 95%;
    text-align: center;
    margin: 10px auto;
  }
}
.services .editing p {
  display: none;
  color: #fff;
}
.services .editing h2 {
  text-align: center;
  color: #8C96E0;
}
.services .editing:hover {
  color: #fff;
  background-color: #007DFE;
}
@media (max-width: 576px) {
  .services .editing:hover {
    height: 250px;
    width: 200px;
  }
}
.services .editing:hover p {
  display: block;
}
.services .editing:hover .image img {
  display: none;
}
.services .editing:hover h2 {
  display: none;
}

/* seo */
.seo {
  margin-top: 30px;
  min-height: 300px;
  margin-right: 5px;
}
.seo .image img {
  width: 250px !important;
  height: 250px !important;
}
@media (min-width: 576px) {
  .seo .image img {
    width: 200px;
    height: 200px;
  }
}
.seo h2 {
  text-align: center;
  color: #017BFD !important;
  margin-top: -10px;
}
@media (max-width: 576px) {
  .seo {
    min-width: 100%;
    text-align: center;
    max-width: 95%;
    text-align: center;
    margin: 10px auto;
  }
}
.seo p {
  display: none;
  color: #fff;
}
.seo h2 {
  text-align: center;
  color: #8C96E0;
}
.seo:hover {
  color: #fff;
  background-color: #007DFE;
}
@media (max-width: 576px) {
  .seo:hover {
    height: 250px;
    width: 200px;
  }
}
.seo:hover p {
  display: block;
}
.seo:hover .image img {
  display: none;
}
.seo:hover h2 {
  display: none;
}

.social {
  max-height: 300px;
  margin-top: 30px;
}
.social .image img {
  width: 250px !important;
  height: 250px !important;
}
.social h2 {
  text-align: center;
  color: #057df6 !important;
  margin-top: -10px;
}
@media (max-width: 576px) {
  .social {
    min-width: 100%;
    text-align: center;
    max-width: 95%;
    text-align: center;
    margin: 10px auto;
  }
}
.social p {
  display: none;
  color: #fff;
}
.social h2 {
  text-align: center;
  color: #8C96E0;
}
.social:hover {
  color: #fff;
  background-color: #007DFE;
}
@media (max-width: 576px) {
  .social:hover {
    height: 250px;
    width: 200px;
  }
}
.social:hover p {
  display: block;
}
.social:hover .image img {
  display: none;
}
.social:hover h2 {
  display: none;
}

/* social */
.element:nth-child(1) {
  transition-delay: 100ms;
}

.element:nth-child(2) {
  transition-delay: 200ms;
}

.element:nth-child(3) {
  transition-delay: 300ms;
}

.element:nth-child(4) {
  transition-delay: 400ms;
}

.element:nth-child(5) {
  transition-delay: 5000ms;
}

.element:nth-child(6) {
  transition-delay: 600ms;
}

/* end services */
/* start about */
.about {
  margin-top: 250px;
}
@media (max-width: 576px) {
  .about {
    margin-top: 150px;
    text-align: center;
  }
  .about h1 {
    font-size: 60px;
  }
}
.about .text {
  margin-top: 50px;
  height: 300px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .text h2 {
  font-size: 30px;
}
@media (max-width: 576px) {
  .about .text h2 {
    font-size: 20px;
  }
}
.about .text p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #231942;
}
@media (max-width: 576px) {
  .about .text p {
    font-size: 16px;
  }
}

/* end about */
/* start offer */
.offer {
  margin-top: 250px;
}
@media (max-width: 576px) {
  .offer h1 {
    font-size: 60px;
    text-align: center;
  }
}
.offer .content {
  margin-top: 50px;
}
.offer .content .row .col .card {
  margin-top: 20px;
  width: 350px;
  height: 350px;
  background-color: #007DFE;
  text-align: center;
}
@media (max-width: 576px) {
  .offer .content .row .col .card {
    width: 100%;
  }
}
.offer .content .row .col .card .image img {
  width: 150px;
  height: 150px;
  text-align: center;
}
@media (max-width: 576px) {
  .offer .content .row .col .card .image img {
    margin-top: 20px;
  }
}
.offer .content .row .col .card h2 {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
.offer .content .client {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer .element:nth-child(1) {
  transition-delay: 200ms;
}
.offer .element:nth-child(2) {
  transition-delay: 600ms;
}
.offer .element:nth-child(3) {
  transition-delay: 1000ms;
}

/*end offer */
/* eager */
.eager {
  margin-top: 200px;
}
.eager .alendly-inline-widget {
  max-height: 150px;
}
@media (max-width: 576px) {
  .eager {
    margin-top: 150px;
    text-align: center;
  }
  .eager h1 {
    font-size: 40px;
  }
}
.eager .text {
  margin-top: 50px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.eager .text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: 250px;
  background-color: #fbfbfb;
  z-index: -1;
  transform: skewY(-3deg);
  transform-origin: top left;
}
@media (max-width: 576px) {
  .eager .text:before {
    height: 200px;
  }
}
.eager .text p {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  width: 50%;
  color: #231942;
}
@media (max-width: 576px) {
  .eager .text p {
    font-size: 18px;
    width: 90%;
  }
}

/* eager */
/* start footer */
footer {
  margin-top: 200px;
  background-color: #4A29D0;
  color: #fff;
}
footer .content {
  padding-top: 20px;
  text-align: center;
  display: flex;
}
@media (max-width: 576px) {
  footer .content {
    font-size: 10px;
  }
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(3px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* end footer */
/* Start Animation */
@keyframes up-and-down {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -30px;
  }
}
@keyframes cursoreffect {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0px;
  }
}/*# sourceMappingURL=style.css.map */